//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include "./keys.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define ZMK_POINTING_DEFAULT_MOVE_VAL 3000  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4  // right hand
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                      // thumbs

&mt {
    quick-tap-ms = <175>;
    flavor = "tap-preferred";
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <175>;
};

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
       &kp Q        &kp W        &kp E         &kp R          &kp T        &kp Y    &kp U         &kp I         &kp O        &kp P
       &hml LGUI A  &hml LALT S  &hml LCTRL D  &hml LSHIFT F  &kp G        &kp H    &hmr RSHFT J  &hmr RCTRL K  &hmr RALT L  &hmr RGUI SEMICOLON
&to 1  &kp Z        &kp X        &kp C         &kp V          &kp B        &kp N    &kp M         &kp COMMA     &kp DOT      &kp SLASH            &kp DEL
                                 &kp ESCAPE    &kp TAB        &kp SPACE    &kp RET  &kp BSPC      &kp DEL
            >;
        };

        Gaming {
            bindings = <
       &kp TAB    &kp Q  &kp W   &kp E     &kp R        &trans  &trans  &trans  &trans  &trans
       &kp LSHFT  &kp A  &kp S   &kp D     &kp F        &trans  &trans  &trans  &trans  &trans
&to 0  &kp LCTRL  &kp Z  &kp X   &kp C     &kp V        &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &kp LALT  &kp SPACE    &trans  &trans  &trans
            >;
        };

        Nav {
            bindings = <
        &trans        &trans        &kp LS(LA(TAB))  &kp LA(TAB)     &trans    &kp PAGE_UP    &mt LC(BSPC) BSPC  &mt LC(HOME) UP   &mt LC(DEL) DEL  &trans
        &sk LEFT_GUI  &sk LEFT_ALT  &sk LCTRL        &sk LEFT_SHIFT  &trans    &kp PAGE_DOWN  &mt HOME LEFT      &mt LC(END) DOWN  &mt END RIGHT    &kp ENTER
&trans  &trans        &trans        &trans           &trans          &trans    &kp PAGE_DOWN  &kp TAB            &trans            &trans           &trans     &trans
                                    &trans           &trans          &trans    &trans         &kp K_CANCEL       &trans
            >;
        };

        Fn {
            bindings = <
        &kp F12            &kp F7            &kp F8         &kp F9              &trans    &kp C_PP    &kp C_PREV        &kp C_VOLUME_UP    &kp C_NEXT         &trans
        &hml LEFT_GUI F11  &hml LEFT_ALT F4  &hml LCTRL F5  &hml LEFT_SHIFT F6  &trans    &trans      &kp LC(LG(LEFT))  &kp C_VOLUME_DOWN  &kp LC(LG(RIGHT))  &trans
&trans  &kp F10            &kp F1            &kp F2         &kp F3              &trans    &kp C_MUTE  &trans            &kp LC(LG(D))      &trans             &trans  &trans
                                             &trans         &trans              &trans    &trans      &trans            &trans
            >;
        };
    };
};
